#title {
    height: 50px;
    text-align: center;
    background: rgb(14,10,77);
    background: linear-gradient(90deg, rgba(14,10,77,1) 10%, rgba(70,14,126,1) 51%, rgba(0,212,255,1) 100%);
    color: beige;
}

#line {
    height: 7px;
    background: rgb(14,10,77);
    background: linear-gradient(90deg, rgba(14,10,77,1) 10%, rgba(70,14,126,1) 51%, rgba(0,212,255,1) 100%);
}

#flex {
    display: flex;
    justify-content: center;
}

#box {
    background-color:chartreuse ;
    height: 250px;
    width: 250px;
}